.tab-pane.fade.show#competence(
    role="tabpanel",
    aria-labelledby="competence-tab"
)
    .tab-block
        p.text Текстовая инструкция перед всеми компетенциями, у администратора должна быть возможность редактировать.
        p.text Примечание к заполнению: Нужно оценить все индикаторы в компетенции и внести развёрнутые комментарии по каждой компетенции, описав, в каких ситуациях и как был проявлен оцениваемый индикатор
    .accordion-item.tab-block
        h2.accordion-header
            button.accordion-button.tab-block__accordion-button.collapsed(
                type="button",
                data-bs-toggle="collapse",
                data-bs-target="#panelsStayOpen-collapse1",
                aria-expanded="false",
                aria-controls="panelsStayOpen-collapse1"
            )
                .tab-block__accordion-left
                    .tab-block__accordion-img
                    .tab-block__accordion-title Управление исполнением
                .tab-block__accordion-right
                    .tab-block__accordion-value.red 0.8
        .accordion-collapse.tab-block__accordion-collapse.collapse#panelsStayOpen-collapse1
            p.text Проявляет инициативу и самостоятельность, выходит за рамки обычных обязанностей.
            p.text Принимает вызов в сложных, нестандартных ситуациях, быстро находит возможности для улучшения работы.
            p.text Увлечен своей работой, относится к ней, как с собственному бизнесу
            .tab-block__table-wrap
                table.tab-block__table.table.table-bordered.competence-table
                    tbody
                        tr
                            th.bg-transparent Отношения к сложным задачам
                            td.green Текст
                            td Текст
                            td Текст
                            td Текст
                        tr
                            th.bg-transparent Самостоятельность и инициатива
                            td Текст
                            td.green Текст
                            td Текст
                            td Текст
                        tr
                            th.bg-transparent Уверенность в нестандартных ситуациях
                            td Текст
                            td Текст
                            td.green Текст
                            td Текст
                        tr
                            th.bg-transparent Текст
                            td Текст
                            td Текст
                            td Текст
                            td.green Текст
            .tab-block__comment
                .block-name Комментарий сотрудника:
                textarea(
                    rows="1",
                    placeholder="Сотрудник описал примеры"
                )
    .accordion-item.tab-block
        h2.accordion-header
            button.accordion-button.tab-block__accordion-button.collapsed(
                type="button",
                data-bs-toggle="collapse",
                data-bs-target="#panelsStayOpen-collapse2",
                aria-expanded="false",
                aria-controls="panelsStayOpen-collapse2"
            )
                .tab-block__accordion-left
                    .tab-block__accordion-img
                    .tab-block__accordion-title Управление исполнением
                .tab-block__accordion-right
                    .tab-block__accordion-value.green 0.9
        .accordion-collapse.tab-block__accordion-collapse.collapse#panelsStayOpen-collapse2
            p.text Проявляет инициативу и самостоятельность, выходит за рамки обычных обязанностей.
            p.text Принимает вызов в сложных, нестандартных ситуациях, быстро находит возможности для улучшения работы.
            p.text Увлечен своей работой, относится к ней, как с собственному бизнесу
            .tab-block__table-wrap
                table.tab-block__table.table.table-bordered.competence-table
                    tbody
                        tr
                            th.bg-transparent Отношения к сложным задачам
                            td.green Текст
                            td Текст
                            td Текст
                            td Текст
                        tr
                            th.bg-transparent Самостоятельность и инициатива
                            td Текст
                            td.green Текст
                            td Текст
                            td Текст
                        tr
                            th.bg-transparent Уверенность в нестандартных ситуациях
                            td Текст
                            td Текст
                            td.green Текст
                            td Текст
                        tr
                            th.bg-transparent Текст
                            td Текст
                            td Текст
                            td Текст
                            td.green Текст
            .tab-block__comment
                .block-name Комментарий сотрудника:
                textarea(
                    rows="1",
                    placeholder="Сотрудник описал примеры"
                )
    .accordion-item.tab-block
        h2.accordion-header
            button.accordion-button.tab-block__accordion-button.collapsed(
                type="button",
                data-bs-toggle="collapse",
                data-bs-target="#panelsStayOpen-collapse3",
                aria-expanded="false",
                aria-controls="panelsStayOpen-collapse3"
            )
                .tab-block__accordion-left
                    .tab-block__accordion-img
                    .tab-block__accordion-title Управление исполнением
                .tab-block__accordion-right
                    .tab-block__accordion-value.red 0.9
        .accordion-collapse.tab-block__accordion-collapse.collapse#panelsStayOpen-collapse3
            p.text Проявляет инициативу и самостоятельность, выходит за рамки обычных обязанностей.
            p.text Принимает вызов в сложных, нестандартных ситуациях, быстро находит возможности для улучшения работы.
            p.text Увлечен своей работой, относится к ней, как с собственному бизнесу
            .tab-block__table-wrap
                table.tab-block__table.table.table-bordered.competence-table
                    tbody
                        tr
                            th.bg-transparent Отношения к сложным задачам
                            td.green Текст
                            td Текст
                            td Текст
                            td Текст
                        tr
                            th.bg-transparent Самостоятельность и инициатива
                            td Текст
                            td.green Текст
                            td Текст
                            td Текст
                        tr
                            th.bg-transparent Уверенность в нестандартных ситуациях
                            td Текст
                            td Текст
                            td.green Текст
                            td Текст
                        tr
                            th.bg-transparent Текст
                            td Текст
                            td Текст
                            td Текст
                            td.green Текст
            .tab-block__comment
                .block-name Комментарий сотрудника:
                textarea(
                    rows="1",
                    placeholder="Сотрудник описал примеры"
                )
            .tab-block__save
                button.btn Сохранить